#Studeso Git Ignore List
#=======================

#============
#CODE FILES
#============
#PYTHON FILES
# Copied from .gitignore -> python
#------------
*.py[cod]

#DATABASE FILES
#------------
*.sqlite3

#DJANGO FILES
# Copied from .gitignore -> python
#------------

#EXTRAS
keys.py

#============
#OPERATING SYSTEM FILES
#============
# OSX FILES
#------------
.DS_Store
.AppleDouble
.LSOverride

# WINDOWS FILES
#------------
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
/.idea/
