<ul class="nav nav-sidebar">
<li class="side-heading"><b><u>Tag List</u></b></li>
{% if U %}
    <li class="side-heading"><b>User Tags</b></li>
    {% for t in U %}
        <li><a class="special-tag user" id="tag" href="{% url 'view_posts' t.name %}">{{ t.name }}</a></li>
    {% endfor %}
{% else %}
    <li> <strong >There are no User Tags</strong></li>
{% endif %}

{% if I %}
    <li class="side-heading"><b>Institution Tags</b></li>
    {% for t in I %}
        <li><a class="special-tag inst" id="tag" href="{% url 'view_posts' t.name %}">{{ t.name }}</a></li>
    {% endfor %}
{% else %}
    <li> <strong >There are no institution Tags</strong></li>
{% endif %}

{% if A %}
    <li class="side-heading"><b>Post Tags</b></li>
    {% for t in A %}
        <li><a id="tag" href="{% url 'view_posts' t.name %}">{{ t.name }}</a></li>
    {% endfor %}
{% else %}
    <li> <strong >There are no Tags</strong></li>
{% endif %}
</ul>
