{% load staticfiles %}
<ul class="nav nav-sidebar" id="tags">
<li class="side-heading title"><b>Tag List</b></li>
<li class="small-l"><a href="#Users">View User Tags</a></li>
<li class="small-l"><a href="#Inst"> View Institution Tags</a></li>

<!-- If user has logged in, display options if they have followed tags
     If not, just leave blank and list all the tags -->

{% if FollowedTags %}
  <li class="small-l"><a href="#pTags">View Post Tags</a></li>
  {% if not FE %}
    <li class="side-heading title"><b>Tags You Follow</b></li>
    {% for t in FollowedTags %}
      {% if t.color %}
        <li><a class="speical-tag {{ t.color }}" href="{% url 'view_posts' t.name %}">{{ t.name }}</a></li>
      {% else %}
        <li><a href="{% url 'view_posts' t.name %}">{{ t.name }}</a></li>
      {% endif %}
    {% endfor%}
    <li class="small-l"><a href="#tags">Back to Top</a></li>
  {% endif %}
{% endif %}

<!-- List all other tags with sidebar navigation inline -->


<li class="side-heading title" id="pTags">Post Tags</li>
{% if AllTags %}
    {% for t in AllTags %}
        <li><a class="tag" href="{% url 'view_posts' t.name %}">{{ t.name }}</a></li>
    {% endfor %}
{% else %}
    <li> <strong >There are no Tags</strong></li>
{% endif %}
<li class="small-l"><a href="#tags">Back to Top</a></li>
<li class="side-heading title" id="Users">User Tags</li>
{% if UserTags %}
    {% for t in UserTags %}
        <li><a class="special-tag user" href="{% url 'user_profile' t.name %}">{{ t.name }}</a></li>
    {% endfor %}
{% else %}
    <li> <strong >There are no User Tags</strong></li>
{% endif %}
<li class="small-l"><a href="#tags">Back to Top</a></li>
<li class="side-heading title" id="Inst">Institution Tags</li>
{% if InstTags %}
    {% for t in InstTags %}
        <li><a class="special-tag inst" href="{% url 'view_posts' t.name %}">{{ t.name }}</a></li>
    {% endfor %}
{% else %}
    <li> <strong >There are no institution Tags</strong></li>
{% endif %}
<li class="small-l"><a href="#tags">Back to Top</a></li>
</ul>
