<!DOCTYPE html>
<html>
    <head>
        <title>Reset your Password</title>
    </head>

    <body>

      <!-- Displays the list of errors with the form -->
        {% if errors %}
          <ul>
          {% for error in errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        <h1>Reset Your Password</h1>

        <form id="PassReset_Form" method="post" action="{% url 'passwordReset' %}">
            {% csrf_token %}
            Username: <input type="username" name="username" value="" size="50" />
            <br />
            Email: <input type="email" name="email" value="" size="50" />
            <br />
            <input type="submit" value="submit" />
        </form>

    </body>
</html>
