<!DOCTYPE html>
<html>
    <head>
        <title>Checking your Password</title>
    </head>

    <body>

        {{ errors }}

        <h1>Changing {{ user.username }} Password</h1>

        <form id="PassChange_Form" method="post" action="{% url 'passwordChange' %}">
            {% csrf_token %}
            Username: <input type="password" name="old_password" value="" size="50" />
            <br />
            Password: <input type="password" name="new_password1" value="" size="50" />
            <br />
            Password: <input type="password" name="new_password2" value="" size="50" />
            <br />
            <input type="submit" value="submit" />
        </form>

    </body>
</html>
