{% extends 'base.html' %}

{% load staticfiles %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Password Reset{% endblock %}

{% block body_block %}
<h1 class="help-s1">Update your profile</h1>
        <p class="text-muted">This is some of the personal information we've got about you.<br>
          You're welcome to change anything at any time!<br><br>
          <b>Your 'About Me' appears when users click on your name tag. It's a post always at the top of the page, showing you off in all your glory!</b></p>

            <p class="text-muted"> Your current Profile Image is: <img src="{{ MEDIA_URL }}{{ img }}" width="32px" height="32px"  alt="Profile Image"/></p>

<form class="form form-horizontal" id="profile_form" method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form profile_form layout='horizontal' %}
  <!-- Provide a button to click to submit the form. -->
  {% buttons %}
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-default">Update Profile</button>
  </div>
  {% endbuttons %}
</form>

{% endblock %}

{% block js %}
<script>
$(".help").click(function(){
    bootstro.start('', {
        url : "{% static 'json/profile_form.json' %}",
    });
});
</script>
{% endblock %}
