{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block body_block %}

{% if user.is_authenticated %}
  <h1>You don't need a password reset. You're already logged in!</h1>
  <p class="text-muted">You could <a href="{% url 'signout' %}">logout</a> however....</p>

{% else %}

  <h1>Reset your Password</h1>

  <p class="text-muted">You should have recieved your reset code via email. If not TODO <a href="{% url 'passwordReset' %}">Click here</a><br>
  Please re-enter your username, reset code and your new password to reset it!</p>

  <!-- Displays the list of errors with the form -->
    {% if errors %}
    <ul>
      {% for error in errors %}
        <li class="text-danger">{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <form class="form form-horizontal" id="password_reset_form2" method="post" action="{% url 'passwordResetCode' %}">


      {% csrf_token %}
      <div class="form-group">

      <label for="userInput" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="username" id="userInput" placeholder="Username" size="50">
      </div>
      <label for="rcode" class="col-sm-2 control-label">Reset Code</label>
      <div class="col-sm-10">
        <input type="numeric" class="form-control" name="code" id="rcode" placeholder="Code" size="50">
      </div>
      <label for="new1" class="col-sm-2 control-label">New Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="new_password1" id="new1" placeholder="" size="50">
      </div>
      <label for="new2" class="col-sm-2 control-label">New Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="new_password2" id="new2" placeholder="" size="50">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Reset Password</button>
      </div>
    </div>
  </form>

{% endif %}

{% endblock %}
