{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block body_block %}
    {% if registered %}
        <h2>Bark Welcomes You!</h2>
    {% else %}

    <h3>Sign Up</h3>

    <p class="text-muted">Sign up to Bark here to enjoy the full range of features Bark has to offer.<br>You aren't required to upload a profile image, but it might be nice to let others who you really are.<br><b>Don't worry if you forget, you can always update it later!</b></p>

    <form id="user_form" method="post" action="{% url 'signup' %}"
                enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form user_form %}
        {% bootstrap_form profile_form %}

        <!-- Provide a button to click to submit the form. -->
        <input class="btn btn-primary" type="submit" name="submit" value="Signup!" />

    </form>
    {% endif %}
{% endblock %}
