/*
 *	Colour Scheme
 *
 * -- Used --
 * (Teal) 		= #3E9393
 * (Grey) 		= #9D9D9D
 * (Pale Orange)= #FFB445
 * (Green)      = #7C9166
 * (Deep Purple)= #BF5FBF
 *
 * -- Free --
 * (Pale Red)   = #FF7575
 * (Light Brown)= #9F7E5F
 */



body{
	padding-left: 5px;
	padding-right: 5px;
    font-family: 'Oxygen', sans-serif;
}

p { font-size:14px;}
i { font-size:14px;}


/* NavBar Button Styling */
/* --------------------- */
/* Background Styles - Border top and bottom, background white */
.navbar 
{
	background-color:white;
	border-width:1px;
	border-left: 0;
	border-right: 0;
	line-height:96px;
}

/* Centers NavBar to middle of screen */
.navbar-nav{
    margin: 0 auto; 
    float:none;
    display:inline-block;
    font-size:16px;	
    line-height:96px;
}

.navbar .nav  > li > a{ line-height:96px;}


.Brand
{
	display: inline-block;
}

.Brand h1, h3 { display: inline-block;}

#UNI { color: red;}


/* Styling for each button on navbar
 *
 * [NOTE] If page is 'active' then use ID [PAGE]_A to keep highlighted background
 */
.Signin, #Groups #Contact, #People, #Home { background-color:white;}
#TITLE:hover, #TITLE_A, #TITLE:active { background-color: #3E9393; }
.Signin:hover,  #Signin_A , #Signin:active { background-color: #FFB445; }



/* Index Page Styling */
/* ------------------ */
#i_Small { font-size:18px;}
#i_rSmall {font-size: 16px;}
#i_rrSmall { font-size:12px;}


.btn-search
{
	background-color: white;
}

.btn-search:hover,
{
	background-color:orange;
}


#bbb
{
	font-size:14px;
}

.panel-default > .panel-heading
{
	background-color: #FFB445;
}


/* Footer Styling */
/* -------------- */
.footer, .footer i
{
	font-size:8px;
	font-color:#252525;
}