{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}

<div class="page-header">
    <h1>Bark!</h1>
</div>

<div>
    <b>Bark!</b> is our WAD2 team's <i>pet</i> project, a student-friendly discussion board.
    <br />
    <br />
    <p>
        It's quite simple, you can search the board if you have a question or <i>sniff around</i> by tags, and if you can't <i>retrieve</i>
        an answer then just BARK!
        You can also comment.
        <br />
        <br />
        If you have any questions you can <i>hound us</i> <a href="https://github.com/projectgoav/studeso">on GitHub</a>,
        or just make a post with your problem and we'll see it! Alternatively, if you <i>dig</i> it, please also let us know!
    </p>

    <img height="100" width="100" src="{% static 'images/akita_collar.png' %}" />
    <br />
    projectgoav<br />
    2085749D<br />
    SCOTPAUL<br />
    mmckay99<br />
    <br />
    <i>N-Tier the Matrix</i>
</div>

{% block js %}
<script>
$(".help").click(function(){
    bootstro.start('', {
        url : "{% static 'json/about.json' %}",
    });
});
</script>
{% endblock %}


{% endblock %}
