{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load markdown_deux_tags %}

{% block script %}
    <link href="{% static 'taggle/assets/css/taggle.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/add_post.css' %}" rel="stylesheet"/>
{% endblock %}
{% block title %}Add a Bark!{% endblock %}

{% block body_block %}
<h2>Add a Bark!</h2>

    <div class="panel panel-default">
        <div class="panel-body">
            <form id="post_form" method="post" action="{% url 'add_post' '' %}">
                {% csrf_token %}
                {% bootstrap_field form.title %}
                {% bootstrap_field form.content %}
                {% markdown_allowed %}
                {% bootstrap_field form.anonymous %}
                <div class="form-group">
                    <label class="control-label" for="tags">Tags</label>
                    <div class="input textarea clearfix" id="tags"></div>
                </div>

                <input class="btn btn-primary" type="submit" name="submit" value="Create New Bark!" />
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
$(".help").click(function(){
    bootstro.start('', {
        url : "{% static 'json/addpost.json' %}",
    });
});
</script>
<!-- This script creates the JS variable "defaultTagList", which is used in
    as the default value in the Taggle text entry -->
<script type="text/javascript">
    var defaultTagList = {{ defaultTagList | safe }}
</script>

<script src="{% static 'js/add_post.js' %}"></script>
<script src="{% static 'taggle/assets/js/taggle.min.js' %}"></script>
{% endblock %}
