{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load markdown_deux_tags %}

{% block script %}
    <script src="{% static 'js/jquery1.11.1.min.js' %}"></script>
    <script src="{% static 'taggle/assets/js/taggle.min.js' %}"></script>
    <link href="{% static 'taggle/assets/css/taggle.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/add_post.js' %}"></script>
{% endblock %}
{% block title %}Add a Bark!{% endblock %}

{% block body_block %}
<h2>Add post.</h2>

    <div class="panel panel-default">
        <div class="panel-body">
            <form id="post_form" method="post" action="{% url 'add_post' %}">
                {% csrf_token %}
                {% bootstrap_field form.title %}
                {% bootstrap_field form.content %}
                {% markdown_allowed %}
                {% bootstrap_field form.anonymous %}
                <div class="form-group">
                    <label class="control-label" for="tags">Tags</label>
                    <div class="input textarea" id="tags"></div>
                </div>

                <input class="btn btn-primary" type="submit" name="submit" value="Create New Bark!" />
            </form>
        </div>
    </div>
{% endblock %}
