{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Help{% endblock %}

{% block body_block %}

<div class="page-header">
<h1>Stuck are we? Welcome to Crufts!</h1>
</div>

<div>

<p>Have no fear, soon you'll find out how to use our site</p>

<p><b> I couldn't find what I was looking for</b></p>

<p>If you searched and couldn't find what you were looking for then feel free to ask a new question.
   This can be done <a href="{% url 'add_post' %}"> here!</a></p>

<p><b> Can I create a tag for me and my friends to use?</b></p>

<p>When you add tags to a post you can automatically create new tags to use </p>

<p><b> I'm still crap at using this wonderful website</b></p>

<p> If there's still something bugging you then let us know on our <a href="https://github.com/projectgoav/studeso">
 GitHub page</a></p>

</div>


{% endblock %}