{% extends 'base.html' %}

{% load staticfiles %}
{% load postlist %}

{% block body_block %}

{% if user.is_authenticated %}
  <h2 id="help-3">Welcome back to Bark {{ user.username }}</h2>
{% else %}
  <h2 id="help-3">Welcome to Bark!</h2>
  <h3>A Student Q&amp;A discussion Site</h3>
{% endif %}

<h4 id="help-5"> Here are the Newest, Coolest Barks out there right now!</h4>
<ol id="help-4">
    {% for topPost in topPosts %}
      {% get_view topPost %}
    {% endfor %}
</ol>
<br />
<b><a href="{% url 'add_post' %}">New Bark!!</a></b>
{% endblock %}

{% block js %}
<script>
$(".help").click(function(){
    bootstro.start('', {
        url : "{% static 'json/index.json' %}",
    });
});
</script>
{% endblock %}
