{% extends 'base.html' %}
{% load postlist %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}{{ tags.0.name }}...{% endblock %}

{% block body_block %}
<h2>Tag{% if tags|length != 1 %}s{% endif %}: <small class="text-muted">Click on a Tag name to create a new Bark in that tag!</small></h2>
<div class="row">
    {% for tag in tags %}

    <div class="col-sm-4">
        <h3>{{ tag.name }}</h3>

        {% buttons %}
        {% if not tag.followed_by_user %}
            <button class="btn btn-primary" id="follow_tag" action="{% url 'follow_tag' tag %}" >Follow This Tag</button>
        {% else %}
            <button class="btn btn-primary" id="unfollow_tag" action="{% url 'unfollow_tag' tag %}">Unfollow This Tag</button>
        {% endif %}
        <button class="btn btn-primary" id="new_bark_with_tag" action="{% url 'add_post' tag %}">Bark with Tag</button>
       {% endbuttons %}
    </div>
    {% endfor %}
</div>
<br />
    {% for post in posts %}
    {% get_view post %}
    {% endfor %}
    {% if posts.has_other_pages %}
        {% bootstrap_pagination posts %}
    {% endif %}
{% endblock %}

{% block js %}
<script>
    $(".help").click(function () {
        bootstro.start('', {
            url: "{% static 'json/posts.json' %}",
        });
    });
</script>
{% endblock %}
