{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block js %}
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/like.js' %}"></script>
{% endblock %}

{% block body_block %}
{% if post %}
    <h2 class="page-header col-sm-10">{{ post.title }}
        <small>
            Views: {{ post.views }}, <span class="post-like-num">{{ post_likes }}</span> found this interesting
        </small>
    </h2>

    <div class="col-sm-10">
    <div class="panel panel-primary">
        <div class="small panel-heading">{{ post.creation_date }}</div>
        <div class="panel-body">{{ post.content }}</div>
        <div class="panel-footer" class="bark-tags">
            <b>Tags: </b>
            <a class="user" href={% url 'view_posts' post.author.user_tag %}>@{{ post.author.user_tag }}</a>
            {% if post_inst_tag %}
                <span> | </span><a class="inst" href={% url 'view_posts' post_inst_tag %}>@{{ post_inst_tag }}</a>
            {% endif %}
            {% for post_tag in post_tags %}
                <span> | </span><a class="tag" href={% url 'view_posts' post_tag %} >@{{ post_tag }}</a>
            {% endfor %}

        {% if user.is_authenticated %}
            {% csrf_token %}
                <div class="pull-right" id="like">
                {% buttons %}
                    <button class="like-post-btn" type="submit">
                        {% if post_liked %}
                            {% bootstrap_icon "ok" %}
                        {% else %}
                            {% bootstrap_icon "thumbs-up" %}
                        {% endif %}
                    </button>
                {% endbuttons %}
                </div>
        {% endif %}

        </div>
    </div>
    <h3 class="page-header">Comments ({{ post.comment_set.all|length }})</h3>

    {% for comment in post.comment_set.all %}
        <div class="panel panel-default">
            <div class="small panel-heading">{{ comment.creation_date }}</div>
            <div class="panel-body">{{ comment.content }}</div>
            <div class="panel-footer bark-tags">
                <a href="#" class="user">@{{ comment.author }}</a>
                    <span class="pull-right small">{{ comment.like_set.all|length }} found this helpful
                        <div class="pull-right small" id="like">
                        {% if user.is_authenticated %}
                            {% buttons %}
                                <button class="like-btn" type="submit">
                                    {% bootstrap_icon "thumbs-up" %}
                                </button>
                            {% endbuttons %}
                        {% endif %}
                        </div>
                    </span>
            </div>
        </div>
    {% endfor %}

    {% if user.is_authenticated %}
        <form id="comment_form" method="post" action=".">
            {% csrf_token %}
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Add a comment</h3></div>
                <div class="panel-body">
                    <div class="form-group">
                        <textarea id="id_content" class="form-control" rows="10" required="required" placeholder="Comment here..." name="content" cols="40"></textarea>
                    </div>
                    <input class="btn btn-primary" type="submit" name="submit" value="Add Comment" />
                </div>
            </div>
        </form>
    {% endif %}
{% else %}
    <h2>No post exists!</h2>
{% endif %}
{% endblock %}
