{% extends 'base.html' %}
{% load postlist %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}{{ tags.0.name }}...{% endblock %}

{% block body_block %}
<h2>Tag{{ tags|pluralize }}:</h2>
<div class="row">
    {% for tag in tags %}

    <div class="col-sm-6">
        <h3>{{ tag.name }}</h3>

        {% buttons %}
        {% if not tag.followed_by_user %}
            <a href="{% url 'follow_tag' tag %}"><button class="btn btn-primary" id="follow_tag">Follow This Tag</button></a>
        {% else %}
            <a href="{% url 'unfollow_tag' tag %}"><button class="btn btn-primary" id="unfollow_tag">Unfollow This Tag</button></a>
        {% endif %}
            <a href="{% url 'add_post' tag %}"><button class="btn btn-warning" id="new_bark_with_tag">Bark with Tag</button></a>
       {% endbuttons %}
    </div>
    {% endfor %}
</div>
<br />
    {% for post in posts %}
    {% get_view post %}
    {% endfor %}
    {% if posts.has_other_pages %}
        {% bootstrap_pagination posts %}
    {% endif %}
{% endblock %}

{% block js %}
{% include "helpscript.html" with help_url="json/posts.json" %}
{% endblock %}
