{% extends 'base.html' %}
{% load postlist %}
{% load bootstrap3 %}

{% block title %}{{ tags.0.name }}{% endblock %}

{% block body_block %}
<h2>Tags:
	{% for tag in tags %}
	<span>
		{{ tag.name }}
        <form  id= "follow_tag" method="get" action="{% url 'follow_tag' tag %}">
            <button class="btn btn-primary" id="follow_tag">Follow This Tag</button>
        </form>
			</span>
	{% endfor %}
</h2>

    {% for post in posts %}
    {% get_view post %}
    {% endfor %}
    {% if posts.has_other_pages %}
        {% bootstrap_pagination posts %}
    {% endif %}
{% endblock %}
