{% extends 'base.html' %}
{% load staticfiles %}

{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}User Profile :  {{ username }}{% endblock %}

{% block body_block %}

{% if NOT_FOUND %}
<h1> Username Not Found </h1>

<p> A user with the given username was not found. Please try your search again!</p>
{% else %}

  <h1>{{ username }}'s Profile</h1>
  <div class="col-sm-10">
  <div class="panel panel-default">
      <div class="panel-body">
      <div class="row">
        <div class="col-sm-5">
          <img src="{{ MEDIA_URL }}{{ img }}" alt="User's Profile Image" />
        </div>
        <div class="col-sm-5">
          {{ bio }}
        </div>
      </div>
      {% if current %}
        <h3 class="page-heading"> Account Options </h3>
        <p><a href="{% url 'passwordChange' %}">Change Password</a></p>
        <p><a href="{% url 'profile' %}">Update Profile</a></p>
      {% endif %}
    </div>
      <div class="panel-footer" class="bark-tags">
          <b>Total Barks:</b> {{ bark_count }} | <span class="text-muted">Average Rating: {{ bark_rating }}</span>
      <div class="pull-right">
        <b>Total Bark Views: </b> {{ bark_views }}
      </div>
    </div>
  </div>
  <br>
  <h2 class="page-heading"> Posts by User </h2><small><a href="{% url ' ' }"
  {% if posts %}
  <p class="text-danger">This is woop</p>
  {% else %}
  <p class="text-muted">This user has not made any posts</p>
  </div>
  {% endif %}
{% endif %}
{% endblock %}
