{% extends 'base.html' %}

{% block body_block %}
{% load postlist %}

{% if posts %}
<h2>Results for "{{ query }}"</h2>
{% if tags %}
    <h4>
    <br>Related tags:

    {% for tag in tags %}
        <b><a href={% url 'view_posts' tag.name %}>{{ tag.name }}</a></b> <a href={% url 'follow_tag' tag.name %}>(follow)</a>
        {% if not forloop.last %}, {% endif %}
    {% endfor %}
    </h4>
{% else %}
    <h4> No related tags found for "{{ query }}"</h4>
{% endif %}
<br>
<br>
<div>
    {% for post in posts %}
        {% get_view post %}
    {% endfor %}
</div>


{% else %}
<h2>No results for "{{ query }}"</h2>
<br>
<h3>
<i><a href="{% url 'add_post' %}">Why not add a new post?</a></i>
</h3>
{% endif %}

{% endblock %}
