<ul class="nav nav-sidebar">
<li><b><u>Tag List</u></b></li>
{% if U %}
    <li><b>User Tags</b></li>
    {% for t in U %}
        <li class="special-tag user"><a href="{% url 'view_posts' t.id %}">{{ t.name }}</a></li>
    {% endfor %}
{% else %}
    <li> <strong >There are no User Tags</strong></li>
{% endif %}

{% if I %}
    <li><b>Institution Tags</b></li>
    {% for t in I %}
        <li class="special-tag inst"><a href="{% url 'view_posts' t.id %}">{{ t.name }}</a></li>
    {% endfor %}
{% else %}
    <li> <strong >There are no institution Tags</strong></li>
{% endif %}

{% if A %}
    <li><b>Tags</b></li>
    {% for t in A %}
        <li><a href="{% url 'view_posts' t.name %}">{{ t.name }}</a></li>
    {% endfor %}
{% else %}
    <li> <strong >There are no Tags</strong></li>
{% endif %}
</ul>
